img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  max-height: 500px;
}

.text-card {
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
}
.card{
  max-width: 290px;
}